@model News;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Populære nyheder</h1>
    <h2>@Model.Title</h2>
    <p>@Model.Author Sidst opdateret @Model.UpdatedDate</p>
    <br/>
    <p>@Model.Content</p>
    <br/>
    <p>@Model.HashTags</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
